.stopwatch {
  margin: auto, auto;
  font-size: 3rem;
  width: 60vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 6rem;
}

.stopwatch__item {
    line-height: 10rem;
    width: 90px;
}